<div class="modal-dialog modal-lg" role="form">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Add New Course</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeBtn>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addCourseForm" (ngSubmit)="onSubmit()" id="ngForm">
        <div class="form-group">
          <label for="courseName">Course Title*</label>
          <input type="text" class="form-control" id="courseName" formControlName="courseName"
            placeholder="Enter course title">
          <span *ngIf="(courseName.dirty || courseName.touched) && courseName.invalid && courseName.errors.required"
            class="text-danger small">Course Title is required.</span>
        </div>
        <div class="form-group">
          <label for="courseDescription">Course Description</label>
          <textarea rows="5" class="form-control" id="courseDescription" formControlName="courseDescription"
            placeholder="Describe the course" required></textarea>
          <span
            *ngIf="(courseDescription.dirty || courseDescription.touched) && courseDescription.invalid && courseDescription.errors.required"
            class="text-danger small">Course Description is required.</span>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="form-group">
              <label for="courseHours">Course Hours</label>
              <input type="number" class="form-control" id="courseHours" formControlName="courseHours"
                placeholder="Enter course hours">
              <span
                *ngIf="(courseHours.dirty || courseHours.touched) && courseHours.invalid && courseHours.errors.required"
                class="text-danger small">Course Hours is required.</span>
            </div>
          </div>
          <div class="col-md">
            <div class="form-group">
              <label for="courseCost">Course Cost</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" id="courseIsFree" formControlName="courseIsFree"
                      (change)="checkFree($event);">
                    <label for="free" class="form-check-label pl-1">Free</label>
                  </div>
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" id="courseCost" formControlName="courseCost"
                  placeholder="Enter course cost per student">
              </div>
              <span *ngIf="(courseCost.dirty || courseCost.touched) && courseCost.invalid && courseCost.errors.required"
                class="text-danger small">Course Hours is required.</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="card">
            <div class="card-header">
              Categories
            </div>
            <div class="card-body">
              <div class="row">
                <div formArrayName="courseCategoryArray" *ngFor="let c of courseCategories; let i=index">
                  <div class="col">
                    <input type="checkbox" [id]="c.id" [formControlName]="i">
                    <label class="form-check-label pl-1" [for]="c.id">{{c.lookupValue1}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md">
              <label for="restrictions">Registration Restrictions</label>
              <select id="inputRestriction" formControlName="courseRestrictions" class="form-control">
                <option selected value=0>None</option>
                <option *ngFor="let r of restrictions" value={{r.id}}>{{r.lookupValue1}}</option>
              </select>
            </div>
            <div class="col-md">
              <label for="externalCheck">External Registration</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" id="external" formControlName="courseExternalRegistration"
                      (change)="externalToggle($event);">
                    <label for="external" class="form-check-label pl-1">External</label>
                  </div>
                </div>
                <input type="text" class="form-control" id="externalLink"
                  formControlName="courseExternalRegistrationLink" placeholder="Enter link for registration">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeAction()">Close</button>
      <button type="submit" class="btn btn-primary" form="ngForm" [disabled]="!addCourseForm.valid">Save
        changes</button>
    </div>
  </div>
</div>