<div class="row justify-content-center">

  <div class="form-row">
    <div class="col px-3">
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="categoryDropdown1"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </button>
        <div class="dropdown-menu" aria-labelledby="categoryDropdown1">
          <div *ngFor="let c of categories">
            <div class="dropdown-item">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id=c.id (change)="testChanged(c.id)">
                <label for=c.id class="form-check-label">{{c.lookupValue1}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col px-3">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="costCheck">
          <label for="costCheck" class="form-check-label">Free Only</label>
        </div>
      </div>
  </div>
</div>